<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">
    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>{DOMAIN}</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>{CLIENT_ID}</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>{CLIENT_SECRET}</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.orgId</param-name>
        <param-value>{ORG_ID}</param-value>
    </context-param>
</web-app>
